.container {
  height: 100vh;
  width: 98vw;
  overflow: hidden; /* Hide overflowing content */
}

video {
  height: 100%; /* Adjust the height to fill the container */
  width: 100%; /* Adjust the width to fill the container */
  object-fit: cover; /* Zoom into the video while maintaining aspect ratio */
  transform: scale(1.8);
}

@media only screen and(min-width:768px){
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 4rem;
    
  }
}